*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #CCD5AE;
}

button{
    cursor: pointer;
}

main{
    padding: 25px;
    margin-top: 128px;
}

img{
    width: 85%;
}

a{
    color: #f5f5f5;
}

a:visited{
    color: #f75050;
}

.user-identification, .heart, .nav-menu, .name-icon, .search-bar button{
    display: none;
}

header{
    background-color: #4A494F;
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;  
}

.logo{
    display: flex;
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
}

.main-search{
    width: 100%;
    display: flex;
}

.burger-menu{
    width: 15%;
    order: -1;
    margin: auto;
    font-size: 2rem;
    text-align: center;
    color: #CCD5AE;

}

nav{
    width: 70%;
    margin: auto;
}

.search-bar{
    position: relative;
}
.search-bar input{
    width: 100%;
    padding-left: 5px;
    border-radius: 10px;
    height: 40px;
    border: none;
    outline: none;
}

.search-bar input:focus{
    border: 2px solid #D4A373;
}

.search-bar i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3rem;
    color: #eb6363;
}

.cart-info{
    width: 15%;    
}

.menu-icons.bag{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.menu-icons.bag i{
    color: #D4A373;
    font-size: 2.5rem;  
    width: 100%;
}

.item-counter{
    position: absolute;
    top: 15px;
    font-size: 1.3rem;
    color: #4A494F;
    
}

/********************** MAIN ************************/


.left-images img{
    display: block;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.9) 0px 2px 6px 2px;
}

.under-images{
    display: none;
}

.item-name{
    font-size: 32px;
    margin: 15px 0;
    padding: 10px;
    
    text-align: center;
}

.right-info h3{
    width: 100%;
    border-bottom: 2px solid #D4A373;
    text-align: center;
}

.item-description{
    padding: 10px 0;
    margin-bottom: 15px; 
}

.item-price{
    margin: 20px 0;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}

.item-specs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;

}


.color-select, .quantity-select{
    margin: 10px;
    width: 25%;
    box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
    border-radius: 3px;
}

.add-button{
    width: 100%;
    margin: 30px 0;
    padding: 20px;
    background-color: #eb6363;
    /* ff6392  b95f89 fc6c9f*/
    border-radius: 10px;
    border: none;
    outline: none;
    color: #f5f5f5;
    transition: all 1s;
}

.add-button:hover{
    background-color: #f75050;
    box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 2.6px;
    /* AF3B6E 9e4244*/
    
}

/********************** RECOMENDATION ************************/

.recom-section{
    padding: 40px 0 0 0;
}

.recom-title{
    border-bottom: 2px solid #D4A373;
    
}

.all-recomendations{
    padding: 30px 25px;
    /* width: 300%; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* margin: auto; */
    
    /* 
    flex-direction: column;
    align-content: center; */
}

.all-recomendations::-webkit-scrollbar{
    display: none;
}

.recomendation{
    width: 70%;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    justify-content: center;
    cursor: pointer;
}

.recomendation:hover{
    background-color: #D1C7BE;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.1);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.recomendation img{
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
}


.recomendation p{
    width: 60%;
    margin-top: 7px;
    font-size: 20px;
    text-align: center;
    color: #4A494F;
}

.recom-price{
    font-weight: bolder;
}

/********************* FOOTER ******************/

footer{
    background-color: #4A494F;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
}
.footer-info{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

footer i{
    margin: 20px;
    color: #CCD5AE;
}

.footer-info li{
    margin: 0 10px;
    font-size: 1.1rem;
}

.footer-info li a{
    text-decoration: none;
}

footer p{
    margin: 15px;
    font-size: .8rem;
}

@media (min-width: 481px){

    header{
        position: relative;
    }

    main{
        margin-top: 0;
    }

    .big-image{
        width: 60%;
    }
    .under-images{
        margin-top: 25px;
        display: flex;
    }

    .under-images img{
        width: 20%;
        opacity: 0.5;
    }

    .under-images img:nth-child(1){
        opacity: 1;
        border: 2px solid #000;
    }

    .recomendation{
        width: 30%;
    }
}

@media (min-width: 769px){

    header{
        background-color: #4A494F;
        padding: 10px 25px 0 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    nav{
        margin: 10px;
        width: 80%;
    }
    .logo{
        width: 15%;
    }

    .burger-menu{
        display: none;
    }

    .main-search{
        width: 85%;
    }

    .user-identification{
        display: flex;
        width: 100%;
    }


    .search-bar{
        margin-top: 20px;
    }

    .cart-info{
        
        width: 15%;
        /* padding: 10px; */
        margin: auto;
    }

    .menu-icons{
        display: flex;
        justify-content: left;  
        width: 100%;
    }

    .menu-icons i, .menu-icons.bag i{
        margin-bottom: 10px;
        text-align: left;
        width: 30%;
        color: #D4A373;
        font-size: 2rem;
        transition: all 1s;
    }

    .cart-info a {
        text-decoration: none;
    }
    .name-icon{
        display: inline;
        width: 70%;
        color: #D4A373;
        font-family: 'Corben', cursive;
        font-size: 1rem;
        transition: all 1s;
        text-align: center;

    }

    .item-counter{
        color: #4A494F;
        left: 9px;
        top: 10px;
    }

    .menu-icons:hover i{
        color: #CCD5AE;
        cursor: pointer;
    }

    .menu-icons:hover .name-icon{
        color: #CCD5AE;
        cursor: pointer;
    }
    
    .nav-menu{
        background-color: #4A494F;
        border-top: 2px solid #CCD5AE;
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: 21px;
    }
    .nav-menu li{
        padding: 10px 15px;
    }
    .nav-menu li a{
        position: relative;
        text-transform: uppercase;
        color: #CCD5AE;
        text-decoration: none;
    }
    .nav-menu li a:hover{
        color: white;
    }

    .nav-menu li a:hover::after{
        transform: scaleX(1);
        transform-origin: left;
    }

    .nav-menu li a::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        top: 100%;
        left: 0;
        background: #D4A373;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
    }
    
    

    /************************** MAIN *************************************/

    .detail-item{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .left-images{
        width: 50%;
        border-right: 2px solid #4A494F;
        margin: auto;
    }

    .big-image{
        width: 50%;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
    }

    .under-images{
        margin-top: 15px;
        width: 100%;
        padding: 15px 15px 0 15px;
        display: flex;
        justify-content: space-evenly;        
    }  

    .under-images img{
        width: 20%;
        border-radius: 10px;
    }

    .under-images img:hover{
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.9) 0px 2px 6px 2px;
    }


    .right-info{
        padding: 0 10px;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .item-specs{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .item-specs h3{
        width: 70%;
    }

    .color-select, .quantity-select{
        text-align: center;
    }


    /************************** RECOMENDATION *************************************/

    .recom-section{
        padding: 40px 0 0 0;
    }
    
    .recom-title{
        border-bottom: 2px solid #D4A373;
        
    }

    .all-recomendations{
        padding: 30px 0;
        width: 100%;
        display: flex;

    }

    

    .recomendation{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
    }

    .recomendation:hover{
        background-color: #D1C7BE;
        cursor: pointer;
        border-radius: 10px;
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .recomendation img{
        width: 80%;
        border-radius: 10px;
        margin-bottom: 10px;
    }


    .recomendation p{
        width: 60%;
        margin-top: 7px;
        font-size: 20px;
        color: #4A494F;
    }

    .recom-price{
        font-weight: bolder;
    }




} 