*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #CCD5AE;
}

button{
    cursor: pointer;
}

main{
    padding: 25px;
    margin-top: 128px;
}

img{
    width: 85%;
}

a{
    color: #f5f5f5;
}

a:visited{
    color: #f75050;
}

.user-identification, .heart, .nav-menu, .name-icon, .search-bar button{
    display: none;
}

header{
    background-color: #4A494F;
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;  
}

.logo{
    display: flex;
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
}

.main-search{
    width: 100%;
    display: flex;
}

.burger-menu{
    width: 15%;
    order: -1;
    margin: auto;
    font-size: 2rem;
    text-align: center;
    color: #CCD5AE;

}

nav{
    width: 70%;
    margin: auto;
}

.search-bar{
    position: relative;
}
.search-bar input{
    width: 100%;
    padding-left: 5px;
    border-radius: 10px;
    height: 40px;
    border: none;
    outline: none;
}

.search-bar input:focus{
    border: 2px solid #D4A373;
}

.search-bar i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3rem;
    color: #eb6363;
}

.cart-info{
    position: relative;
    width: 15%;    
}
.menu-icons.bag{
    
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.menu-icons.bag i{
    color: #D4A373;
    font-size: 2.5rem;  
    width: 100%;
}

.item-counter{
    position: absolute;
    top: 15px;
    font-size: 1.3rem;
    color: #4A494F;
    
}


/*  Formulario - login */
.login{
    margin-top: 20px;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.submit_button{
    width: 100%;
    height: 40px;
    color: white;
    background-color: #D4A373;
    text-align: center;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 1s;
}

.submit_button:hover{
    background-color: #c4905d;
    cursor: pointer;
}

.form_field{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    transition: all 1s;
    outline: none;
}

.form_field::placeholder{
    padding-left: 10px;
}
.feedback{
    /* width: 45%; */
    text-align: left;
    max-height: 20px;
    color: red;
}

/********************* FOOTER ******************/

footer{
    background-color: #4A494F;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
}
.footer-info{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

footer i{
    margin: 20px;
    color: #CCD5AE;
}

.footer-info li{
    margin: 0 10px;
    font-size: 1.1rem;
}

.footer-info li a{
    text-decoration: none;
}

footer p{
    margin: 15px;
    font-size: .8rem;
}

/* ***************************** TABLETS *************************************** */
@media (min-width: 481px)
{

     /* Formulario - login */
    header{
        position: relative;
    }

    main{
        margin-top: 0;
    }


    .form_field, .submit_button{
        width: 80%;
    
    }

    body{
        font-size: 13px;
    }
    
}
/* ***************************** LAPTOPS *************************************** */
@media (min-width: 769px)
{
    /* Formulario - login */
    .form_field{
        margin-bottom: 50px;
    }

    .form_field, .submit_button{
        width: 60%;
    
    }

    /* Formulario - register */
    header{
        background-color: #4A494F;
        padding: 10px 25px 0 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    nav{
        margin: 10px;
        width: 80%;
    }
    .logo{
        width: 15%;
    }

    .burger-menu{
        display: none;
    }

    .main-search{
        width: 85%;
    }

    .user-identification{
        display: flex;
        width: 100%;
        font-size: 1rem;
    }


    .search-bar{
        margin-top: 20px;
    }

    .cart-info{
        
        width: 15%;
        /* padding: 10px; */
        margin: auto;
    }

    .menu-icons{
        display: flex;
        justify-content: left;  
        width: 100%;
    }

    .menu-icons i, .menu-icons.bag i{
        margin-bottom: 10px;
        text-align: left;
        width: 30%;
        color: #D4A373;
        font-size: 2rem;
        transition: all 1s;
    }

    .cart-info a {
        text-decoration: none;
    }

    .name-icon{
        display: inline;
        width: 70%;
        color: #D4A373;
        font-family: 'Corben', cursive;
        font-size: 1rem;
        transition: all 1s;
        text-align: center;

    }

    .item-counter{
        color: #4A494F;
        left: 9px;
        top: 10px;
    }

    .menu-icons:hover i{
        color: #CCD5AE;
        cursor: pointer;
    }

    .menu-icons:hover .name-icon{
        color: #CCD5AE;
        cursor: pointer;
    }
    
    .nav-menu{
        background-color: #4A494F;
        border-top: 2px solid #CCD5AE;
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: 21px;
    }
    .nav-menu li{
        padding: 10px 15px;
    }
    .nav-menu li a{
        position: relative;
        text-transform: uppercase;
        color: #CCD5AE;
        text-decoration: none;
    }
    .nav-menu li a:hover{
        color: white;
    }

    .nav-menu li a:hover::after{
        transform: scaleX(1);
        transform-origin: left;
    }

    .nav-menu li a::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        top: 100%;
        left: 0;
        background: #D4A373;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
    }

}


