<!-- Footer -->
<footer>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <ul class="footer-info">
        <li><a href="#">Contactanos</a></li>
        <li><a href="/">Inicio</a></li>
    </ul>
    <p>Amor Propio © 2021</p>

</footer>