<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/44355dc707.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/cartStyle.css">
    <title>Carrito de compras</title>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <section class="products-to-buy">
            <article class="cart-item">
                <img src="images/recom3.jpg" alt="">
                <div class="item-info">
                    <p class="item-name">Pendientes de arcilla de polímero marrón y mostaza</p>
                    
                    <select name="" id="" class="quantity-selector">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <p class="item-price">MXN $235.48</p>
                </div>
                <button class="save-button">Guardar para mas tarde</button>
                <button class="delete-button">Eliminar</button>
            </article>
            <article class="cart-item">
                <img src="images/recom4.jpg" alt="">
                <div class="item-info">
                    <p class="item-name">Pendientes de arcilla polimérica ovalada</p>
                    <select name="" id="" class="quantity-selector">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <p class="item-price">MXN $282.57</p>
                    
                </div>
                <button class="save-button">Guardar para mas tarde</button>
                <button class="delete-button">Eliminar</button>
            </article>
            <article class="cart-item">
                <img src="images/recom2.jpg" alt="">
                <div class="item-info">
                    <p class="item-name">Pendientes de arcilla polimérica jaspeada</p>
                    
                    <select name="" id="" class="quantity-selector">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <p class="item-price">MXN $282.57</p>
                </div>
                <button class="save-button">Guardar para mas tarde</button>
                <button class="delete-button">Eliminar</button>
            </article>
        </section>
        <section class="payment-info">
            <div class="payment-detail">
                <p class="payment-text">Articulos</p>
                <p>$$$$</p>
                <p class="payment-text">Envio</p>
                <p>$$$$</p>
            </div>
            <div class="payment-total">
                <p class="text-total">Total</p>
                <p class="payment-price">800.62</p>
            </div>
            <button class="pay-button">Pagar</button>
        </section>
        <section class="recom-section">
            <h1 class="recom-title">Recomendaciones</h1>
            <div class="all-recomendations">
                <div class="recomendation">
                    <img src="images/recom1.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom2.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom3.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom4.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom2.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
            </div>
        </section>
    </main>
    <%- include("partials/footer") %>
    
</body>
</html>