<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/44355dc707.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/detailStyle.css">
    <title>Detalle producto</title>
</head>

<body>
    <%- include("partials/header") %>
    <main>
        <section class="detail-item">
            <div class="left-images">

                <img src="images/arete1.jpg" alt="" class="big-image">
                <!-- <div class="main-image">
                    <button class="image-slider"><</button>
                    <button class="image-slider1">></button>
                </div> -->

                <div class="under-images">
                    <img src="images/arete1.jpg" alt="">
                    <img src="images/arete2.jpg" alt="">
                    <img src="images/arete3.jpg" alt="">
                    <img src="images/arete4.jpg" alt="">
                </div>
            </div>
            <div class="right-info">
                <p class="item-name">Pendientes de arcilla de polímero verde salvia</p>
                <h3>Descripcion</h3>
                <p class="item-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe ducimus,
                    aliquam nihil quos ut sunt tempore magni quam veniam voluptates consequuntur</p>
                <p class="item-price">$xx.xx</p>
                <div class="item-specs">
                    <h3>Selecciona color</h3>
                    <select name="" id="" class="color-select">
                        <option value="verde">Verde</option>
                    </select>
                </div>
                <div class="item-specs">
                    <h3>Cantidad</h3>
                    <select name="" id="" class="quantity-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>

                <button class="add-button" type="submit">Agregar al carrito</button>
            </div>
        </section>
        <section class="recom-section">
            <h1 class="recom-title">Recomendaciones</h1>
            <div class="all-recomendations">
                <div class="recomendation">
                    <img src="images/recom1.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom2.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom3.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom4.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom2.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
            </div>
        </section>
    </main>
    <%- include("partials/footer") %>

</body>

</html>