<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/44355dc707.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/homeStyle.css">
    <title>Inicio Amor Propio</title>
</head>
<body>
    <header>
        <img src="images/testImage.jpg" alt="" class="logo">
        <div class="main-search">
            <nav>
                <div class="nav-bar">
                    <div class="user-identification">
                        <i class="fas fa-user"></i>
                        <p>¡Hola bienvenido! <a href="/login">Inicia Sesion</a> o <a href="/register">Registrate</a></p>
                    </div>
                    <div class="search-bar">
                        <input type="text" placeholder="Buscar productos">
                        <i class="fas fa-search"></i>
                        <button type="submit">Buscar</button>
                    </div>

                </div>
            </nav>
            <div class="cart-info">
                <a href="/cart">
                    <div class="menu-icons bag">
                        <i class="fas fa-shopping-bag"></i>
                        <p class="item-counter">0</p>
                        <p class="name-icon">Carrito</p>
                    </div>
                </a>
                <div class="menu-icons heart">
                    <i class="far fa-heart"></i>
                    <p class="name-icon">Wishlist</p>
                </div>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <ul class="nav-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Estilos</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Mi cuenta</a></li>
        </ul>
    </header>

    <main>
        <section class="slide-section">
            <div class="slideshow">
                <div class="slides1">
                    <img src="images/home1.jpg" alt="">
                </div>
                <div class="slides">
                    <img src="images/home2.jpg" alt="">
                </div>
                <div class="slides">
                    <img src="images/home3.jpg" alt="">
                </div>
    
                <span class="previous">&#10094;</span>
                <span  class="next">&#10095;</span>
            </div>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
        </section>
        <section class="recom-section">
            <h1 class="section-title">Recomendaciones</h1>
            <div class="all-recomendations">
                <div class="recomendation">
                    <img src="images/recom1.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom2.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom3.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom4.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
                <div class="recomendation">
                    <img src="images/recom2.jpg" alt="">
                    <p>Nombre</p>
                    <p class="recom-price">Precio</p>
                </div>
            </div>
        </section>
        <section class="featured-products">
            <h1 class="section-title">Productos destacados</h1>
            <div class="product">
                <img src="images/home4.jpg" alt="">
                <p>Pendientes de polilla azul</p>
                <p class="product-price">MXN $1252.40</p>
            </div>
            <div class="product">
                <img src="images/home5.jpg" alt="">
                <p>Pendientes largos de borla</p>
                <p class="product-price">MXN $553.24</p>
            </div>
            <div class="product">
                <img src="images/home2.jpg" alt="">
                <p>Pendientes Arcoiris</p>
                <p class="product-price">MXN $372.21</p>
            </div>
            <div class="product">
                <img src="images/home6.jpg" alt="">
                <p>Pendientes serpiente arcilla</p>
                <p class="product-price">MXN $868.49</p>
            </div>
            <div class="product">
                <img src="images/home7.jpg" alt="">
                <p>Pendientes de macrame</p>
                <p class="product-price">MXN $446.65</p>
            </div>
            <div class="product">
                <img src="images/home3.jpg" alt="">
                <p>Pendientes cadena salvia verde</p>
                <p class="product-price">MXN $1127.32</p>
            </div>
        </section>

    </main>

    <footer>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <ul class="footer-info">
            <li><a href="#">Contactanos</a></li>
            <li><a href="/">Inicio</a></li>
        </ul>
        <p>Amor Propio © 2021</p>

    </footer>
    
</body>
</html>