<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/44355dc707.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/loginStyle.css">
    <title>Inicia Sesion</title>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <form action="" class="login">
            <input type="text" name="username" id="username" placeholder="Usuario" class="form_field">
            <input type="password" name="userpassword" id="userpassword" placeholder="Contraseña" class="form_field">
            <button type="submit" class="submit_button">Iniciar sesión</button>
        </form>
    </main>
    <%- include("partials/footer") %>
    
</body>
</html>