<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/44355dc707.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/registerStyle.css">
    <title>Registrate</title>
</head>
<body>
    <header>
        <img src="images/testImage.jpg" alt="" class="logo">
        <div class="main-search">
            <nav>
                <div class="nav-bar">
                    <div class="user-identification">
                        <i class="fas fa-user"></i>
                        <p>¡Hola bienvenido! <a href="/login">Inicia Sesion</a> o <a href="/register">Registrate</a></p>
                    </div>
                    <div class="search-bar">
                        <input type="text" placeholder="Buscar productos">
                        <i class="fas fa-search"></i>
                        <button type="submit">Buscar</button>
                    </div>
                </div>
            </nav>
            <div class="cart-info">
                <a href="/cart">
                    <div class="menu-icons bag">
                        <i class="fas fa-shopping-bag"></i>
                        <p class="item-counter">0</p>
                        <p class="name-icon">Carrito</p>
                    </div>
                </a>
                <div class="menu-icons heart">
                    <i class="far fa-heart"></i>
                    <p class="name-icon">Wishlist</p>
                </div>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>   
        <ul class="nav-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Estilos</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Mi cuenta</a></li>
        </ul>   
    </header>
    <main>
        <form action="" class="registration">
            <label class="registration_text">Informacion general</label>
            <input type="text" name="name" id="" placeholder="Ingresa tu nombre" class="form_field">
            <input type="text" name="username" id="" placeholder="Selecciona tu username" class="form_field">
            <input type="email" name="email" id="email" placeholder="Ingresa tu correo" class="form_field">
            <label class="registration_text">Fecha de nacimiento</label>
            <input type="date" name="date" id="" class="form_field">
            <input type="text" name="address" id="" placeholder="Ingresa tu dirección" class="form_field">
            <label class="registration_text">Selecciona una foto de perfil</label>
            <input type="file" name="profile_picture" id="profile_picture" class="profile_picture">
            <label class="registration_text">Contraseña</label>
            <input type="password" name="pwd" id="pwd" placeholder="Ingresa tu contraseña" class="form_field">
            <input type="password" name="pwdConfirm" id="pwdConfirm" placeholder="Confirma tu contraseña" class="form_field">
    
            <button type="submit" class="submit_button">Send</button>
            <button type="reset" class="reset_info">Clear</button>
    
    
        </form>
    </main>
    <footer>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <ul class="footer-info">
            <li><a href="#">Contactanos</a></li>
            <li><a href="/">Inicio</a></li>
        </ul>
        <p>Amor Propio © 2021</p>
    </footer>
    
</body>
</html>