<!-- Header -->
<header>
    <img src="images/testImage.jpg" alt="" class="logo">
    <div class="main-search">
        <nav>
            <div class="nav-bar">
                <div class="user-identification">
                    <i class="fas fa-user"></i>
                    <p>¡Hola bienvenido! <a href="/login">Inicia Sesion</a> o <a href="/register">Registrate</a></p>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Buscar productos">
                    <i class="fas fa-search"></i>
                    <button type="submit">Buscar</button>
                </div>

            </div>
        </nav>
        <div class="cart-info">
            <a href="/cart">
                <div class="menu-icons bag">
                    <i class="fas fa-shopping-bag"></i>
                    <p class="item-counter">0</p>
                    <p class="name-icon">Carrito</p>
                </div>
            </a>
            <div class="menu-icons heart">
                <i class="far fa-heart"></i>
                <p class="name-icon">Wishlist</p>
            </div>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <ul class="nav-menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Estilos</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Mi cuenta</a></li>
    </ul>
</header>